:root {
  --primary-color: #23252e;
  --secondary-color: #0000ff;
  --background-color: #f0f8ff;
}
* {
  box-sizing: border-box;
  line-height: 20px;
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

@media (max-width: 1500px) {
  /* Des layout chính của website */
  .grid {
    grid-template-columns: 50% 1fr 1fr;
    gap: 12px;
    width: auto;
  }
  .grid-2 {
    grid-template-columns: 20% 1fr;
  }
  .grid-2-scope {
    grid-template-columns: 1fr 1fr;
  }
  .time-line-center {
    justify-self: center;
    align-self: center;
  }
}
/* Des để thành layout 1 cột ở cả Tablet và Phone*/
@media (max-width: 768px) {
  .grid,
  .grid-2,
  .grid-2-scope {
    grid-template-columns: 1fr;
  }
  /* Thay đổi vị trí timeline về hàng 5 như bài mẫu */
  #timeline {
    grid-column: 1;
    grid-row: 5;
  }

  /* Thay đổi vị trí scope về hàng 2 như bài mẫu */
  #scope {
    grid-column: 1;
    grid-row: 2;
  }
  /* Chỉnh icon của time-line về góc trái màn hình */
  .time-line-center {
    justify-self: flex-start;
  }
}
/* Des layout chung */
.grid {
  display: grid;
  width: 100%;
  padding: 12px;
  background-color: var(--secondary-color);
}
.container {
  padding: 18px;
  background-color: var(--background-color);
  width: 100%;
}
.grid-2 {
  display: grid;
  gap: 12px;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
/* Tạo border dưới cho riêng phần Goals  */
.grid-2-border {
  border-bottom: rgb(224, 222, 222) 1px solid;
}
.grid-2-scope {
  display: grid;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 20px;
}
.icon {
  justify-self: center;
  align-self: center;
}
/* Des phần tiêu đề chính */
.section-title {
  color: var(--secondary-color);
  font-weight: bold;
  padding-bottom: 12px;
  border-bottom: rgb(168, 164, 164) 1px solid;
  font-size: 1.5rem;
  margin-bottom: 12px;
}
/* Des  tiêu đề phụ */
.sub-title {
  font-weight: bold;
  font-size: 1.1rem;
}
/* Des phần nội dung */
.content {
  padding-top: 12px;
  padding-bottom: 2px;
}
/* Sửa vị trí cell Timeline như bài mẫu */
.timeline {
  /* grid-area: 1/3/3/4; */
  /* grid-area: 1 / span 3; */
  /* Trước đó em thử dùng những code trên nhưng ko thể khiến layout responsive được nên chuyển cách dưới */
  grid-column: 3/4;
  grid-row: 1/3;
}
/* Tạo nền và viền bo tròn cho STT theo mẫu */
.timeline-number {
  background-color: #9e88ff;
  border-radius: 50%;
  padding: 10px;
  color: white;
  border: rgb(88, 87, 87) 1px solid;
}
.timeline-content {
  border-bottom: dashed 1px #5252f0;
  padding-bottom: 12px;
}
