* {
    margin: 0px;
}

.bg-grey {
    background: #f7f7f7;
}

section > .container{
    width: 1170px;
    margin: auto;
    display: block;

    padding: 30px 50px;
}

#nav-bar {
    text-align: center;
}